<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Krishaay Jois</title>
    <link rel="icon" type="image/png" href="/images/logo.png" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body class="mobile">
    <nav id="navbar">
      <div class="container nav-wrapper">
        <div class="brand">
          <img src="/images/logo.png" />
          <span><strong>Krishaay Jois</strong></span>
        </div>
        <div class="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <ul class="nav-list">
          <li>
            <a href="/">About</a>
          </li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/exp">Experience</a></li>
          <li class="active"><a href="/blog">Articles</a></li>
          <li><a href="/skills">Skills</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
    </nav>
    <main>
      <section class="header container about-section" id="about">
        <h1 class="title">My Articles</h1>
        <div class="blog-content"></div>
      </section>
    </main>
    <script src="/js/app.js"></script>
    <script src="/js/sticky-nav.js"></script>
  </body>
</html>
