<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Krishaay Jois | Projects</title>
    <link rel="icon" type="image/png" href="/images/logo.png" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/grid.css" />
  </head>

  <body class="mobile">
    <nav id="navbar">
      <div class="container nav-wrapper">
        <div class="brand">
          <img src="/images/logo.png" />
          <span><strong>Krishaay Jois</strong></span>
        </div>
        <div class="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <ul class="nav-list">
          <li>
            <a href="/">About</a>
          </li>
          <li class="active"><a href="#projects">Projects</a></li>
          <li><a href="/exp">Experience</a></li>
          <li><a href="/blog">Articles</a></li>
          <li><a href="/skills">Skills</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
    </nav>
    <main>
      <section class="header container" id="projects">
        <h1 class="title">Personal Projects</h1>
        <div class="row-wrapper">
          <div class="row">
            <div class="column">
  <a style="text-decoration: none;" href="https://github.com/krishaayjois21/shrinkifi">
    <div class="card">
      <img class="project-cover" src="/images/projects/shrinkifi-cover.png">
      <br>
      <span class="project-title">Shrinkifi</span>
      <br>
      <span class="project-description">An open source URL shortener built with NodeJS , Express , MongoDB</span>
      <br>
      <br>
      <div class="project-tags">
        MongoDB | NodeJS | HTML5 | CSS3 | Javascript | EJS
  
      </div>
    </div></a>
    </div>
    <div class="column">
      <a style="text-decoration: none;" href="https://github.com/krishaayjois21/shrinkifi">
        <div class="card">
          <img class="project-cover" src="/images/projects/shrinkifi-cover.png">
          <br>
          <span class="project-title">Shrinkifi</span>
          <br>
          <span class="project-description">An open source URL shortener built with NodeJS , Express , MongoDB</span>
          <br>
          <br>
          <div class="project-tags">
            MongoDB | NodeJS | HTML5 | CSS3 | Javascript | EJS
          </div>
        </div></a>
        </div>
          </div>
        </div>
        
     
      </section>
    </main>
    <script src="/js/app.js"></script>
    <script src="/js/sticky-nav.js"></script>
  </body>
</html>
